*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    height: 100%;
}
li{
    list-style: none;
}
a{
    color: black;
    text-decoration: none;
}
nav{
    padding: 10px;
    border-bottom: solid 1px #ccc;
}
nav a{
    float: left;
    margin-right: 10px;
    font-size: 1.8rem;
}
nav ul{
    display: flex;
    justify-content: center;
}
#nav_active{
    font-weight: bold;
    color: #ff397e;
    text-decoration: underline;
}

form{
    width: 100%;
    padding: 5px;
    border-bottom: solid 1px #ccc;
    overflow: hidden;
}
form button{
    float: left;
    border: none;
    padding: 5px;
    padding-left: 20px;
    background-color: #fff;
}
form input{
    border: none;
    float: left;
    height: 30px;
    width: 80%;
    clear: right;
}

.content{
    position: relative;
    padding-left: 8rem;
    height: calc(100vh - 100px);
    overflow: hidden;
}
.goods{
    height: calc(100vh - 100px);
    overflow: scroll;
}
.list{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 8rem;
    height: calc(100vh - 100px);
    overflow-y: scroll;
}
#content_active{
    background-color: #ff397e;
}
#content_active a{
    color: #fff;
}
.list li{
    text-align: center;
    border-bottom: solid 1px #eee;
    border-right: solid 1px #eee;
}
.list a{
    font: 1.5rem/4.5rem Sans-serif;
}
.content img{
    width: 100%;
}
.title{
    text-align: center;
}
h1{
    font:1.8rem Sans-serif;
    padding: 0.5rem;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
}
h3{
    font:1.5rem/3rem Sans-serif;
    text-align: center;
}
.gift_goods ul,
.hot_goods ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;                                                                                                                                                                                                                                                                                                                                                                                                                 
    border-bottom: solid 1px #eee;
}
.gift_goods li,
.hot_goods li{
    width: 30%;
    white-space: nowrap;
    overflow: hidden;
}

.line{
    width: 12rem;
    border-bottom: solid 1px #666;
    margin: 2rem auto;
    margin-bottom: -1.5rem;
    display: block;
}
